@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);
body {
  color: #32323e;
font: 14px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 1.5;
height:100%;
}
h1 {
  text-transform:uppercase;
}
h1, h2, h3, h4, h5, #logo,
.form input[type="submit"],
.form input[type="button"] {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;
}

.wmobile .playlists-wmobile {
  padding:0;
}

.wmobile .header-wmobile h1 {
  margin:0;
  padding:.3em 0;
}

.wmobile .header-wmobile {
  border-bottom: 1px solid #fff;
  border-top:none;
  border-right:none;
  border-left:none;
}

.playlists-wmobile-grid {
  font-size:.7em;
}

.playlists-wmobile-grid .cell-wmobile {
  padding:.3em .3em;
  height:124px;
}

.playlists-wmobile-grid .cell-wmobile.ui-bar-a,
.playlists-wmobile-grid .cell-wmobile.ui-bar-b {
  background-color:#fff;
  color:#32323e;
  font-weight:normal;
  border-bottom:none;
}

.playlists-wmobile-grid .ui-block-a {
  border-bottom:1px solid #cfcfcf;
  border-right:1px solid #cfcfcf;
}

.playlists-wmobile-grid .ui-block-b {
  border-bottom:1px solid #cfcfcf;
}

.playlists-wmobile-grid .cell-wmobile.ui-bar-a {
  border:none;
}

.current-playing {
  background-color:#E6E6E6 !important;;
}

.playlists-wmobile-grid .cell-wmobile a {
  border:none;
  margin:0;
  padding:0;
}

.playlists-wmobile-grid .cell-wmobile a img,
.playlists-wmobile-grid .cell-wmobile a div.img {
  width:100%;
  height:84px;
  background-image:url(../images/ajax-loader.gif);
  background-position:center;
  background-repeat:no-repeat;
}

.playlists-wmobile-grid .cell-wmobile a,
.playlists-wmobile-grid .cell-wmobile a:visited,
.playlists-wmobile-grid .cell-wmobile a:hover,
.playlists-wmobile-grid .cell-wmobile a:active {
  font-weight:normal;
  text-decoration:none;
  color: #32323e;
  background-color:transparent;
}

.wmobile .header-wmobile .wmobile-menu-icon,
.wmobile .header-wmobile .wmobile-menu-icon:active,
.wmobile .header-wmobile .wmobile-menu-icon:hover,
.wmobile .header-wmobile .wmobile-menu-icon:focus,
.wmobile .header-wmobile .wmobile-menu-icon.ui-btn-active {
  background:transparent;
  border:none;
  background-color:transparent;
  top:.6125em;
  box-shadow:none;
}

.wmobile .menu-wmobile a {
  color:#505050;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;
  
}

.wmobile .menu-wmobile a:after {
  opacity: .4;
}

.video-disabled {
  position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: red;
z-index: 10;
opacity: .2;
display:block;
}

.ui-listview,
.ui-listview > .ui-li-divider {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight:normal !important;
}

#popupplaylist-screen {
  background-color:#fff;
}

/**
LOGIN
**/

#site-description {
  margin: 15px;
}
#login-form-container, #site-description {
  text-align:center;
}


#login-form-container .login-provider {
  margin:0 auto;
}


.login-with-provider {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-indent: -9999px;
  cursor:pointer;
  background-repeat:no-repeat;
  background-color: #fff;
  background-position:center;
}

.login-with-provider:hover
  {
  margin:3px;
    box-shadow: 0 0 5px #07c;
    
    border: 1px solid #0495ff;
}




#login-form-container .login-provider {
width: 320px;
}

.providers-login .provider-login {
  float:left;
  width:100%;
}
.login-with-provider {
  width: 100%;
  height: 60px;
border: 2px solid #DDD;
border-right: 2px solid #ccc;
border-bottom: 2px solid #ccc;
float: left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin:3px;
background-repeat:no-repeat;
}
.login-with-google {
  background-image:url(../images/google.png);
}
.login-with-twitter {
  background-image:url(../images/twitter.png);
}
.login-with-facebook {
  background-image:url(../images/facebook.png);
}


