@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);
body {
  color: #32323e;
font: 14px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 1.5;
height:100%;
}
h1 {
  text-transform:uppercase;
}
h1, h2, h3, h4, h5, #logo,
.form input[type="submit"],
.form input[type="button"] {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wmobile .playlists-wmobile {
  padding:0;
}

.wmobile .header-wmobile h1 {
  margin:0;
  padding:.3em 0;
}

.wmobile .header-wmobile {
  border-bottom:2px solid #8C8C9C;
  border-top:none;
  border-right:none;
  border-left:none;
}

.playlists-wmobile-grid .cell-wmobile {
  padding:.3em .3em;
  height:124px;
}

.playlists-wmobile-grid .cell-wmobile.ui-bar-a,
.playlists-wmobile-grid .cell-wmobile.ui-bar-b {
  background-color:#fff;
  color:#32323e;
  font-weight:normal;
  border-bottom:none;
}

.playlists-wmobile-grid .ui-block-a {
  border-bottom:1px solid #cfcfcf;
  border-right:1px solid #cfcfcf;
}

.playlists-wmobile-grid .ui-block-b {
  border-bottom:1px solid #cfcfcf;
}

.playlists-wmobile-grid .cell-wmobile.ui-bar-a {
  border:none;
}

.playlists-wmobile-grid .cell-wmobile:hover,
.playlists-wmobile-grid .cell-wmobile:active,
.current-playing {
  background-color:#E6E6E6 !important;;
}

.playlists-wmobile-grid .cell-wmobile a {
  border:none;
  margin:0;
  padding:0;
}

.playlists-wmobile-grid .cell-wmobile a img,
.playlists-wmobile-grid .cell-wmobile a div.img {
  width:100%;
  height:84px;
  background-image:url(../images/ajax-loader.gif);
  background-position:center;
  background-repeat:no-repeat;
}

.playlists-wmobile-grid .cell-wmobile a,
.playlists-wmobile-grid .cell-wmobile a:visited,
.playlists-wmobile-grid .cell-wmobile a:hover,
.playlists-wmobile-grid .cell-wmobile a:active {
  font-weight:normal;
  text-decoration:none;
  color: #32323e;
}

.wmobile .header-wmobile .wmobile-menu-icon,
.wmobile .header-wmobile .wmobile-menu-icon:active,
.wmobile .header-wmobile .wmobile-menu-icon:hover,
.wmobile .header-wmobile .wmobile-menu-icon:focus,
.wmobile .header-wmobile .wmobile-menu-icon.ui-btn-active {
  background:transparent;
  border:none;
  background-color:transparent;
  top:.6125em;
  box-shadow:none;
}

.wmobile .menu-wmobile a {
  color:#505050;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;
  
}

.wmobile .menu-wmobile a:after {
  opacity: .4;
}
